// ---Import the theme and utility classes
// @import './themeVars.scss';
@import './mixins.scss';

// ---FONTS & TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

// *****************
// TO CHANGE THE SITE LOOK-FEEL:
// ! Remember we're supporting dark-light theme switching
// 1. Change the colors, fonts and other variables in themeVars.scss
// 2. Edit the mixins in mixins.scss - these may be used across all components
// 3. Adjust the layouts and global classes in this app.scss file
// 4. Edit the component files for more specific changes
// 5. Change the icons in lib/svg/icons/iconsCombined.svelte
// 6. Change the logo in lib/svg/logo/logo.svelte
// *****************

// CONTENTS
// 1 Reset and Body Style
// 2 Layout
// 3 Helper Classes
// 4 Typography
// 5 Theme Variables
// 6 Media (Images and Vid)


// ---1. RESET
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: hsl(var(--neutralHS) var(--neutralL));
}


// ---2. LAYOUT
body {
	height: 100%;
	max-width: 100vw;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 48px 1fr 48px;
	grid-template-areas:
	"logo topNav"
	"main main"
	"actionNav actionNav";
	@media screen and (min-width: $mdScreen) {
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
		"logo topNav actionNav"
		"main main main";
	}
	@media screen and (min-width: $xlScreen) {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 20vh 1fr auto;
		grid-template-areas:
		"logo main"
		"topNav main"
		"actionNav main";
	}
	.logoWrap {
		grid-area: logo;
		z-index: 1000;
	}
	nav.topNav {
		grid-area: topNav;
		z-index: 1000;
	}
	nav.actionNav {
		grid-area: actionNav;
		z-index: 1000;
	}
	nav.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2000;
		display: none;
	}
	main {
		// border: 10px solid red;
		position: relative;
		overflow-y: scroll;
		height: 100%;
		grid-area: main;
		z-index: 1;
		// On normal desktop sizes we want the top nav to overlay the main content
		// so that we can do cool stuff with transparency, height and shadow
		@media screen and (min-width: $mdScreen) and (max-width: ($xlScreen - 1)) {
			grid-column: 1 / span 3 ;
			grid-row: 1 / span 2;
		}
	}
}

// ---3. HELPER CLASSES
body {
	// Hide stuff at various screen sizes
	@media screen and (max-width: ($mdScreen - 1)) {
		.hideSM {
			display: none;
		}
	}
	@media screen and (min-width: $mdScreen) and (max-width: ($xlScreen - 1)){
		.hideMD {
			display: none;
		}
	}
	@media screen and (min-width: $xlScreen){
		.hideLG {
			display: none;
		}
	}
	// Remove top and bottom margins for first and last elements in container
	.removeTopBottom {
		* > :first-child {
			margin-top: 0;
		}
		* > :last-child {
			margin-bottom: 0;
		}
	}
}
					
// ---4. TYPOGRAPHY
:root {
	font-family: $font_brand;
	font-size: var(--fontSizeMd);
	line-height: 1.6;
}

// Font Sizes and font-spacing
body {
	.xxxl {
		font-size: var(--fontSizeXXXL);
		line-height: 0.9;
	}
	h1, .h1 {
		font-size: var(--fontSizeH1);
		line-height: 1.1;
		margin: 1.5em 0 0 0;
	}
	h2, .h2 {
		font-size: var(--fontSizeH2);
		line-height: 1.2;
		margin: 1.5em 0 0 0;
	}
	h3, .h3 {
		font-size: var(--fontSizeH3);
		line-height: 1.3;
		margin: 1.5em 0 0 0;
	}
	h4, .h4 {
		font-size: var(--fontSizeH4);
		line-height: 1.6;
		margin: 1.5em 0 0 0;
	}
	h5, .h5 {
		font-size: var(--fontSizeH5);
		line-height: 1.6;
		margin: 1.5em 0 0 0;
	}
	h6, .h6 {
		font-size: var(--fontSizeH6);
		line-height: 1.6;
		margin: 1.5em 0 0 0;
	}
	p {
		line-height: 1.6;
		font-size: var(--fontSizeMd);
		margin: 1.5em 0 1em 0;
	}
	li {
		line-height: 1.7;
		font-size: var(--fontSizeMd);
		margin: 0;
	}
}

// Typography Styling (Targeting inner copy)
body {
	main {
		.pageWrap {
			.pageContentWrap {
				a:not(.button) {
					// Defaults to theme color on surface
					display: inline-block;
					text-decoration: none;
					color: var(--theme-link-on-surface);
					transition: all 0.3s ease-in;
					&:hover {
						text-decoration: underline;
					}
				}
				ul {
					list-style-type: none;
					margin-bottom: 1em;
					li {
						display: grid;
						justify-content: flex-start;
						align-items: flex-start;
						grid-template-columns: 1em 1fr;
						grid-gap: 1em;
						&:before {
							content: "";
							width: 100%;
							height: 0.4em;
							background-color: var(--theme-primary);
							display: block;
							margin: 0.5em 1em 0 0;
						}
					}
				}
				ol {
					list-style-type: none;
					margin-bottom: 1em;
					counter-reset: section;
					position: relative;
					li {
						padding-left: 0;
						margin-left: 0;
						display: grid;
						grid-template-columns: 3em 1fr;
						justify-content: flex-start;
						align-items: flex-start;
						position: relative;
						// border: 1px solid red;
						grid-gap: 1em;
						padding: 0 0 1em 0;
						&:after {
							grid-column: 1;
							grid-row: 1;
							counter-increment: section;
							content: counter(section);
							width: 100%;
							aspect-ratio: 1/1;
							font-size: 1.5em;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: var(--theme-surface);
							border: 3px solid var(--theme-primary);
							border-radius: 50%;
							z-index: 2;
							margin-top: -0.3em;
							overflow: hidden;
							font-weight: 600;
						}
						&:before {
							font-size: 1em;
							align-self: center;
							content: "";
							position: absolute;
							left: calc(1.5em - 1.5px);
							width: 3px;
							top: 1em;
							bottom: 0;
							background-color: var(--theme-primary);
							grid-column: 1;
							grid-row: 1;
						}
						&:last-of-type {
							&:before {
								bottom: 1em;
							}
						}
					}
				}
				hr {
					margin: 1em 0;
				}
			}
		}
	}
}

// ---5. THEME VARIABLES
//  WITH DEFAULT LIGHTNESS and SHADE LIGHTNESS VARS
// CSS vars: So we can dynamically adjust in response to light/dark theme

.light {
	// LIGHT GRADIENT: uses opacity for font
	--brandGradient: #{$brandGradient};
	--onGradient: 0 0% 0%;
	--onGradientStrength-1: 0.6;
	--onGradientStrength0: 0.75; //Base
	--onGradientStrength1: 0.85;
	--onGradientStrength2: 0.95;
	--onGradientStrength3: 1; //No transparency
	
	// LIGHT ONIMAGE: Font color over an image uses opacity
	--onImage: 100 100% 100%;
	--onImageStrength-1: 0.6;
	--onImageStrength0: 0.75; //Base
	--onImageStrength1: 0.85;
	--onImageStrength2: 0.95;
	--onImageStrength3: 1; //No transparency
	
	// LIGHT PRIMARY BRAND COLOR : HS values and lightness for font
	--primaryHS: 77 59%;
	--primaryL: 55%;
	--onPrimary: 77 59%;
	--onPrimaryStrength-1: 30%;
	--onPrimaryStrength0: 15%; //Base
	--onPrimaryStrength1: 10%;
	--onPrimaryStrength2: 5%;
	--onPrimaryStrength3: 0%;
	
	// LIGHT ACCENT COLOR : uses opacity for font
	--accentHS: 22 98%;
	--accentL: 55%;
	--onAccent: 0 0% 0%;
	--onAccentStrength-1: 0.7;
	--onAccentStrength0: 0.8; //Base
	--onAccentStrength1: 0.9;
	--onAccentStrength2: 0.95;
	--onAccentStrength3: 1; //No transparency
	
	// LIGHT ALTERNATIVE ACCENT COLOR : uses opacity for font
	--accentAltHS: 0 1%;
	--accentAltL: 17%;
	--onAccentAlt: 100 100% 100%;
	--onAccentAltStrength-1: 0.3;
	--onAccentAltStrength0: 0.4; //Base
	--onAccentAltStrength1: 0.5;
	--onAccentAltStrength2: 0.6;
	--onAccentAltStrength3: 0.7; //No transparency
	
	// LIGHT NEUTRAL COLOR : uses opacity for font
	--neutralHS: 49 41%;
	--neutralL: 90%;
	--onNeutral: 0 0% 0%;
	--onNeutralStrength-1: 0.6;
	--onNeutralStrength0: 0.75; //Base
	--onNeutralStrength1: 0.85;
	--onNeutralStrength2: 0.95;
	--onNeutralStrength3: 1; //No transparency
}

.dark {
	// DARK GRADIENT: uses opacity for font
	--brandGradient: #{$brandGradientDark};
	--onGradient: 100 100% 100%;
	--onGradientStrength-1: 0.2;
	--onGradientStrength0: 0.20; //Base
	--onGradientStrength1: 0.35;
	--onGradientStrength2: 0.45;
	--onGradientStrength3: 0.55; //No transparency
	
	// DARK ONIMAGE: Font color over an image uses opacity
	--onImage: 100 100% 100%;
	--onImageStrength-1: 0.6;
	--onImageStrength0: 0.75; //Base
	--onImageStrength1: 0.85;
	--onImageStrength2: 0.95;
	--onImageStrength3: 1; //No transparency
	
	// DARK PRIMARY BRAND COLOR : HS values and lightness for font
	--primaryHS: 77 59%;
	--primaryL: 55%;
	--onPrimary: 77 59%;
	--onPrimaryStrength-1: 30%;
	--onPrimaryStrength0: 15%; //Base
	--onPrimaryStrength1: 10%;
	--onPrimaryStrength2: 5%;
	--onPrimaryStrength3: 0%;
	
	// DARK ACCENT COLOR : uses opacity for font
	--accentHS: 22 80%;
	--accentL: 40%;
	--onAccent: 100 100% 100%;
	--onAccentStrength-1: 0.85;
	--onAccentStrength0: 0.95; //Base
	--onAccentStrength1: 0.95;
	--onAccentStrength2: 0.95;
	--onAccentStrength3: 1; //No transparency
	
	// DARK ALTERNATIVE ACCENT COLOR : uses opacity for font
	--accentAltHS: 0 1%;
	--accentAltL: 10%;
	--onAccentAlt: 100 100% 100%;
	--onAccentAltStrength-1: 0.45;
	--onAccentAltStrength0: 0.47; //Base
	--onAccentAltStrength1: 0.6;
	--onAccentAltStrength2: 0.65;
	--onAccentAltStrength3: 0.7;
	
	// DARK NEUTRAL COLOR : uses opacity for font
	--neutralHS: 0 1%;
	--neutralL: 23%;
	--onNeutral: 100 100% 100%;
	--onNeutralStrength-1: 0.3;
	--onNeutralStrength0: 0.6; //Base
	--onNeutralStrength1: 0.7;
	--onNeutralStrength2: 0.8;
	--onNeutralStrength3: 0.9;
}

// ---5. BUTTONS
// Using mixins - we need to research pros=cons of mixins in sveltekit

// ---6. MEDIA
body {
	img, video {
		max-width: 100%;
	}
}