// GLOBAL STYLES
// Styling in componenents may override these basic styles
// These styles will ensure that user inserted content (eg. blog posts) look beautiful.

// Dependant stylesheets
@import url(https://unpkg.com/sanitize.css);
@import url(https://unpkg.com/sanitize.css/forms.css);
@import url(https://unpkg.com/sanitize.css/assets.css);
@import url(https://unpkg.com/sanitize.css/typography.css);

// Sonya todo: light/dark theme
@import './theme-variables.scss';

// BASE ELEMENTS
:root {
    font-family: $font_brand;
    // font sizes based on tut: https://www.youtube.com/watch?v=wARbgs5Fmuw
    // https://codepen.io/kevinpowell/pen/MWoYgrN
    --fs-xl: clamp(3.5rem, 6vw + 1rem, 12rem);
    --fs-600: 2rem;
    --fs-400: 1rem;

    @media (min-width: 40em) {
        --fs-600: 3rem;
        --fs-400: 1.125rem;
    }
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: $light1;
    text-rendering: optimizeLegibility;
    color: $transparent_dark2;
    font-size: var(--fs-400);
}

a {
    color: $brand3;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
// needed to facilitate smooth transitions
// https://stackoverflow.com/questions/59882179/svelte-transition-between-two-elements-jumps
.pageWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}