// CONTENTS
// 1. Breakpoints
// 2. Colors
// 3. Themeing
// 4. Spacing
// 5. Curviness
// 6. Font Sizes


// ---1. BREAKPOINTS FOR MAIN LAYOUT STRUCTURE
// We're going to try to only use breakpoints for the main page layout changes (Main and Navigation components)
$mdScreen: 780px; //min-width for medium layout
$xlScreen: 1430px; //min-width for xl screen layout 2560px

$font_brand: 'Playfair', sans-serif;
$font_boldEmphasis: 'Rajdhani', sans-serif;
$font_cursiveEmphasis: 'Homemade Apple', cursive;

// ---2. BRAND COLORS
$brand1: #a9cf45;
$brand2: #fd6c17;
$brandGradient: linear-gradient(180deg, #2E9494 0%, #42A640 36.66%, #A9CF45 95.45%);
$light1: #fbf9f2;
$light2: #ECEBD3;
$dark1: #424040;
$dark2: #2B2A2A;

// ---3. THEMEING
// Using normal css vars in styling so that we can allow switching between light and dark themes
:root.light {
  --theme-primary: #{$brand1};
  --theme-on-primary: #000000;
  --theme-accent: #{$brand2};
  --theme-on-accent: #ffffff;
  --theme-accent2: #{$dark2};
  --theme-on-accent2: #ffffff;
  --theme-surface: #ffffff;
  --theme-on-surface: #716e67;;
  --theme-link-on-surface: #{$brand2};
  --theme-background: #{$light1};
  --theme-on-background: #000000;
  --theme-link-on-background: #{$brand2};
  --theme-background2: #{$light2};
  --theme-on-background2: #5d5d53;
  --theme-link-on-background2: #{$brand2};
  --theme-on-image: #ffffff;
}
:root.dark {
  --theme-primary: #{$brand1};
  --theme-on-primary: #000000;
  --theme-accent: #{$brand2};
  --theme-on-accent: #000000;
  --theme-accent2: #{$light2};
  --theme-on-accent2: #000000;
  --theme-surface: #{$dark1};
  --theme-on-surface: #ffffff;
  --theme-link-on-surface: #{$brand2};
  --theme-background: #{$dark2};
  --theme-on-background: #878484;
  --theme-link-on-background: #{$brand2};
  --theme-background2: #{$dark1};
  --theme-on-background2: #ffffff;
  --theme-link-on-background2: #{$brand2};
  --theme-on-image: #ffffff;
}

// ---4. SPACING (Smallest to largest)
$space1: 0.5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;
$space5: 8rem;

// ---5. CURVINESS (Least to most)
$radius1: 2px;
$radius2: 1rem;
$radius3: 2rem;

// ---6. FONT SIZES
$ratio: 0.3;
$fontSize0: 1rem;
$fontSize-1: $fontSize0 - $ratio;
$fontSize1: $fontSize0 + $ratio;
$fontSize2: $fontSize1 + $ratio;
$fontSize3: $fontSize2 + $ratio;
$fontSize4: $fontSize3 + $ratio;
$fontSize5: $fontSize4 + $ratio;
$fontSize6: $fontSize5 + $ratio;