// ---FONTS & TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&family=Rajdhani:wght@400;500;600;700;900&display=swap');
$font_brand: 'Montserrat', sans-serif;
$font_boldEmphasis: 'Rajdhani', sans-serif;
$font_cursiveEmphasis: 'Homemade Apple', cursive;


// ---BREAKPOINTS FOR MAIN LAYOUT STRUCTURE
$mdScreen: 800px; //min-width for medium layout is 800
$xlScreen: 1400px; //min-width for xl screen layout is 1200

// ---BRAND COLORS (Numbers mean nothing here)
$brand1: #a9cf45;
$brand2: #fd6c17;
$brandGradient: linear-gradient(180deg, #2E9494 0%, #42A640 36.66%, #A9CF45 95.45%);

// ---BACKGROUND COLORS
$light1: #fbf9f2;
$light2: #ECEBD3;
$dark1: #2B2A2A;
$dark2: #424040;

// ---THEME COLORS
// https://bcodes.io/blog/post/theming-css-variables-in-scss
$--theme-primary: --theme-primary;
$--theme-on-primary: --theme-on-primary;

$--theme-secondary: --theme-secondary;
$--theme-on-secondary: --theme-on-secondary;

$--theme-dark: --theme-dark;
$--theme-on-dark: --theme-on-dark;

$--theme-surface: --theme-surface;
$--theme-on-surface: --theme-on-surface;

$--theme-background: --theme-background;
$--theme-on-image: --theme-on-image;

// Default theme (Light)
$theme-map-light: (
    $--theme-primary: $brand1,
    $--theme-on-primary: #000000,

    $--theme-secondary: $brand2,
    $--theme-on-secondary: #000000,

    $--theme-dark: $dark1,
    $--theme-on-dark: #ffffff,

    $--theme-surface: #ffffff,
    $--theme-on-surface: #000000,

    $--theme-background: $light1,
    $--theme-on-image: #ffffff,
);

// Override the default theme (-Dark)
// TODO - These have not yet been tested
$theme-map-dark: (
    $--theme-primary: $brand1,
    $--theme-on-primary: #000000,

    $--theme-secondary: $brand2,
    $--theme-on-secondary: #000000,

    $--theme-dark: $dark1,
    $--theme-on-dark: #ffffff,

    $--theme-surface: $dark2,
    $--theme-on-surface: #ffffff,

    $--theme-background: $dark1,
    $--theme-on-image: #ffffff,
);

// ---SPACING (Smallest to largest)
$space1: 0.5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;
$space5: 8rem;

// ---CURVINESS (Least to most)
$radius1: 2px;
$radius2: 1rem;
$radius3: 2rem;