// CONTENTS
// 1. Breakpoints
// 2. Fonts
// 3. Font-Sizes
// 4. Brand Colors
// 5. Theming
// 6. Spacing
// 7. Curviness

// TODO
// I hate the fact that some vars are in app.scss and some are in this file
// Had to put some css vars in app.scss because svelte strips unused styles
// Figure out how to tidy up.

// IMPORT MIXINS
@import "./mixins.scss";

// ---1. BREAKPOINTS FOR MAIN LAYOUT STRUCTURE
// We're going to try to only use breakpoints for the main page layout changes (Main and Navigation components)
$mdScreen: 780px; //min-width for medium layout
$xlScreen: 1430px; //min-width for xl screen layout 2560px

// ---2. FONTS
$font_brand: 'Roboto', sans-serif;
$font_boldEmphasis: 'Roboto Condensed', sans-serif;
$font_cursiveEmphasis: 'Homemade Apple', cursive;

// ---3. FONT-SIZES
:root {
  --fontIncrement: 0.2rem;
  --fontSizeBase: 1rem;
}
@media screen and (min-width: $mdScreen) {
  :root {
    --fontIncrement: 0.3rem;
    --fontSizeBase: 1.05rem;
  }
}
@media screen and (min-width: $xlScreen) {
  :root {
    --fontIncrement:0.3rem;
    --fontSizeBase: 1.05rem;
  }
}
:root {
  --fontSizeSm: calc(var(--fontSizeBase) - (var(--fontIncrement) * 1.5));
  --fontSizeMd: var(--fontSizeBase);
  --fontSizeH6: calc(var(--fontSizeMd) + var(--fontIncrement));
  --fontSizeH5: calc(var(--fontSizeH6) + var(--fontIncrement));
  --fontSizeH4: calc(var(--fontSizeH5) + var(--fontIncrement));
  --fontSizeH3: calc(var(--fontSizeH4) + var(--fontIncrement));
  --fontSizeH2: calc(var(--fontSizeH3) + var(--fontIncrement));
  --fontSizeH1: calc(var(--fontSizeH2) + var(--fontIncrement));
  --fontSizeXXXL: clamp(3rem, calc(5vw + 1rem), 6rem);
}

// ---4. BRAND COLORS FOR REFERENCE
// Colors are controlled in global stylesheet using css vars
$brandPrimary: hsl(77, 59%, 54%);
$brandAccent: hsl(22, 98%, 54%);

$brandAccentAlt: hsl(0, 1%, 17%);
$neutralLight: hsl(49, 41%, 90%);
$brandGradient: linear-gradient(180deg, hsl(180, 53%, 38%) 0%, hsl(119, 44%, 45%) 36.66%, hsl(77, 59%, 54%) 95.45%);

$brandAccentAltDark: hsl(0, 1%, 10%);
$brandGradientDark: linear-gradient(180deg, hsl(0, 1%, 22%) 0%, hsl(0, 1%, 27%) 60.66%, hsl(0, 1%, 20%) 95.45%);
$neutralDark: hsl(0, 1%, 23%);

// ---6. SPACING (Smallest to largest)
$space1: 0.5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;
$space5: 8rem;

// ---5. CURVINESS (Least to most)
$radius1: 2px;
$radius2: 1rem;
$radius3: 2rem;